## ERD Database Design
### Jonathan Jones
#### 22.06.23

In [12]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [37]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/corebooks"

               ![png](Books_ERD.png)

In [17]:
# Create engine:

engine = create_engine(connection)

In [19]:
# Create a new data base:

create_database(connection)

In [21]:
# Verfiy databases existence: 

database_exists(connection)

True

In [25]:
import pandas as pd

# adding data to the talbes in our database:

users = pd.read_csv('https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [26]:
users.to_sql('users', engine, if_exists = 'replace')

In [27]:
books = pd.read_csv('https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books')
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [28]:
books.to_sql('books', engine, if_exists = 'replace')

In [30]:
# adding data to the talbes in our database:

authors = pd.read_csv('https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors')
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [31]:
authors.to_sql('authors', engine, if_exists = 'replace')

In [32]:
# adding data to the talbes in our database:

favorites = pd.read_csv('https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite')
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [ ]:
favorites.to_sql('favorites', engine, if_exists = 'replace')

In [36]:
q = '''SELECT books.book_title, favorites.users_user_id
FROM books
JOIN favorites AS f ON books.book_id = f.books_book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''
pd.read_sql(q,engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'corebooks.favorites' doesn't exist")
[SQL: SELECT books.book_title, favorites.users_user_id
FROM books
JOIN favorites AS f ON books.book_id = f.books_book_id
WHERE favorites.user_id =
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));]
(Background on this error at: https://sqlalche.me/e/14/f405)